
/*для фона (картинка) */
.background-image{
    -fx-background-image: url("/bg/tu_varna/sit/carrent/img/car.jpg");
    -fx-background-repeat: stretch;
}

/*для фона (цвет) */
.top-bar{
    -fx-background-color : rgba(62, 134,160,0.8);
}
/*для кнопок обезвечивание*/
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

